#button:hover,#button1:hover,#button2:hover,#button3:hover,#buttonchat:hover{
background: #1f2021;
color: white;
}
#button{
background: #000172;
color: white;
height: 50px;
border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
border: 0px solid #000000;
font-size: 19px;
margin-bottom: 10px;
margin-top: 10px;
}

#button1{
background: #ededed;
color: #1f2021;
height: 50px;
border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
border: 0px solid #000000;
font-size: 19px;
margin-bottom: 10px;
margin-top: 10px;
}

#button2{
background: transparent;
color: #000172;
height: 50px;
border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
border: 1px solid #000172;
font-size: 19px;
margin-bottom: 10px;
margin-top: 10px;
width: 30%;
}

#button3{
background: transparent;
color: #1f2021;
height: 50px;
border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
border: 1px solid #1f2021;
font-size: 19px;
margin-bottom: 10px;
margin-top: 10px;
width: 30%;
}
#buttonchat{
background: transparent;
color: #1f2021;
border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
border: 1px solid #1f2021;
}
#inputchat{
	position: relative;
	width: 100%;
	bottom: 0px;
	margin-top: 20px;
}
#containerchat{
	position: relative;
	border: 1px solid #1f2021;
	height: 500px;
	overflow-y: scroll;
	overflow-x: hidden;
	border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
}

.receptor{
	position: relative;
	width: 45%;
	color: white;
	background: black;
	opacity: 0.6;
	left: 0px;
	margin: 20px;
	padding: 15px;
	border-radius: 27px 27px 27px 27px;
-moz-border-radius: 27px 27px 27px 27px;
-webkit-border-radius: 27px 27px 27px 27px;
border: 1px solid #1f2021;

}
.emisor{
	position: relative;
	color: #1f2021;
	width: 45%;
	background: white;
	left: 50%;
	margin: 20px;
	padding: 15px;
	border-radius: 27px 27px 27px 27px;
-moz-border-radius: 27px 27px 27px 27px;
-webkit-border-radius: 27px 27px 27px 27px;
border: 1px solid #1f2021;
}

#none img{
	display: none;
}

@media only screen and (max-width: 1000px) {
    #none {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 500000;
        background: black;
    }
    #none img{
		display: inline;
	}
}

